<div id="due_date_timer_<%= project.id %>" class="timer"></div>

<h3><%= link_to project.name, project_path(project) %></h3>
<p>£<%= project.goal %></p>
<p><%= project.remaining %></p>
<p><%= project.address %></p>
<p><%= project.sector %></p>