<% if project.was_paid?(current_user) %>
  <%= p project.was_paid?(current_user) %>
  You have paid
<% elsif project.success? %>
  <%= link_to 'Pay', new_project_charge_path(project) %>
<% elsif project.has_expired? %>
  Project expired!
<% else %>
  <%= link_to 'Donate', new_project_donation_path(project) %>
<% end %>

<% if project.donations.any? %>
  <% project.donations.reverse_each do |donation| %>
    <p><%= donation.user.username %> donated £<%= without_pence(donation.amount) %></p>
  <% end %>
<% end %>