<div class="panel-heading side-title">

  <div class="row">
    <div class="col-md-3">
        <%= render partial: 'projects/partials/followers', locals: {project: project} %>
    </div>
    <div class="col-md-6">
      <h4 class="panel-title"><%= project.name %></h4>
    </div>
    <div class="col-md-3">
      <span class="badge badge-notify followers_count"> <%= project.followers.count %> </span>
    </div>
  </div>
</div>

<section class="row">
  <%= render partial: 'projects/partials/owner_buttons', locals: {project: project} %>
</section>

<section class="side-info" style="text-align:left">
  <div style="display:inline-block">
    <%= render partial: 'projects/partials/timer', locals: {project: project} %>
  </div>
  <div class="money-info" style="display:inline-block;float:right;">
    <%= render partial: 'projects/partials/goal_remaining', locals: {project: project} %>
  </div>
</section>
<div class="progress-wrap">
  <%= render partial: 'projects/partials/progress_bar', locals: {project: project} %>
</div>

<%= render partial: 'projects/partials/donations', locals: {project: project} %>

<%= render partial: 'projects/partials/map' %>