<p><%= @project.name %></p>
<p>£ <%= @project.goal %></p>
<p><%= @project.description %></p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Delete', project_path(@project), method: :delete %>