<% if projects.any? %>

  <% projects.each do |project| %>
    <%= render partial: 'projects/partials/basic_info', locals: {project: project} %>
    <p><%= project.goal %></p>
    <%= render partial: 'projects/partials/goal_remaining', locals: {project: project} %>
    <%= render partial: 'projects/partials/timer', locals: {project: project} %>
    <%= render partial: 'projects/partials/progress_bar', locals: {project: project} %>
    <script>
      <%= render partial: 'projects/js/timer', formats: [:js], locals: {project: project} %>
    </script>
  <% end %>

<% else %>

  <h3>No projects found.</h3>

<% end %>