<% if projects.any? %>

  <% projects.each do |project| %>


  <section class="well">

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-3">
        <%= render partial: 'projects/partials/pic', locals: {project: project} %>
      </div>
      <div class="col-md-8">
        <%= render partial: 'projects/partials/index_info', locals: {project: project} %>
      </div>
      <div class="col-md-1" style="text-align: right;">
        <section class="followers-index">
          <span class="badge badge-notify followers_count index_count"> <%= project.followers.count %> </span>
          <%= render partial: 'projects/partials/followers', locals: {project: project} %>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" style="padding-top: 29px;">
        <strong>Sector: </strong> <br> 
        <%= project.sector %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2 timer_style">
        <%= render partial: 'projects/partials/timer', locals: {project: project} %>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2 goal_style" style="padding-top: 13px; padding-bottom: 25px;">
        <h6 style="margin-top:0; margin-bottom: 0;">Goal: </h6><br><h3 style="margin-top:0; margin-bottom: 0; padding-left: 10px;">£<%= project.goal %></h3>
      </div>
    </div>

    <div class="row" style="margin-bottom: -15px">
      <div class="col-md-3">
        <strong>Location: </strong> <br> 
        <% text = project.address %>
        <%= truncate(text, length: 30, separator: ' ') %>
      </div>
      <div class="col-md-9" style="padding-top: 20px">
        <%= render partial: 'projects/partials/progress_bar', locals: {project: project} %>
      </div>
    </div>

  </section>

  <% end %>

<% else %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only"></span> 
    No projects found.
  </div>

<% end %>