
<%= link_to 'Add a project', new_project_path %>

<a href="#" id="main_link"> Main </a>
<a href="#" id="near_me_link"> Near Me </a>
<a href="#" id="donated_link"> Donated </a>
<%= render partial: 'projects/partials/search' %>

  <div id="main">
    <%= render partial: 'project', locals: {projects: @projects} %>
  </div>
  <div id="paginator">
    <%= paginate(@projects, :remote => true, param_name: 'p_page' ) %>
  </div>


<input id="tab" name="tab" type="hidden" value="<%= params[:tab] || 1 %>">

<script>
  <%= render partial: 'projects/js/index_tabs', formats: [:js], locals: {projects: @projects, near_me: @near_me, donated: @donated, search: @search} %>
</script>
