<%= link_to 'Add a project', new_project_path %>
<%= request.class %>

<%= form_tag projects_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag projects_path, :method => :get do %>
  <p>
    <%= select_tag(:sector_search, options_for_select(options_for_sector_search)) %>
    <%= submit_tag "Sector search", :name => nil %>
<% end %>

<% if @projects.any? %>

  <% @projects.each do |project| %>
    <%= render partial: 'projects/partials/basic_info', locals: {project: project} %>
    <script>
      <%= render partial: 'projects/js/timer', formats: [:js], locals: {project: project} %>
    </script>
  <% end %>

<% else %>

  <h3>No projects yet!</h3>

<% end %>
