<div class="row" style="margin-top: 15px;">
  <section class="col-md-8">
    <%= render partial: 'projects/partials/show_tabs' %>
    <section class='main'>
      <%= render partial: 'projects/partials/main_show', locals: {project: @project, video: @video, user: @user} %>
    </section>
    <section class="blog">
      <%= render partial: 'projects/partials/blog', locals: {project: @project} %>
    </section> 
    <section class="investors">
      <%= render partial: 'projects/partials/investors', locals: {project: @project} %>
    </section>
  </section>

  <section class="sidebar well panel panel-primary col-md-4">
    <%= render partial: 'projects/partials/sidebar', locals: {project: @project} %>
  </section>
</div>


<script>
  <%= render partial: 'projects/js/timer', formats: [:js], locals: {project: @project} %>
  <%= render partial: 'projects/js/gmaps', formats: [:js] %>
  <%= render partial: 'projects/js/show_tabs', formats: [:js] %>
  <%= render partial: 'projects/js/followers', formats: [:js] %>
</script>