<div class="row">
  <section class="col-md-8">
    <%= render partial: 'projects/partials/show_tabs' %>

    <section class='main'>
      <%= render partial: 'projects/partials/basic_info', locals: {project: @project} %>

      <%= render partial: 'projects/partials/owner_buttons', locals: {project: @project, user: @user} %>

      <%= render partial: 'projects/partials/extra_info', locals: {project: @project, video: @video} %>
    </section>

    <section class="blog">
      <%= render partial: 'projects/partials/blog', locals: {project: @project} %>
    </section> 

    <section class="investors">
      <%= render partial: 'projects/partials/investors', locals: {project: @project} %>
    </section>
    
  </section>

  <section class="sidebar col-md-4">
    <%= render partial: 'projects/partials/donations', locals: {project: @project} %>
    <%= render partial: 'projects/partials/map' %>
  </section>
</div>
<script>
  <%= render partial: 'projects/js/timer', formats: [:js], locals: {project: @project} %>
  <%= render partial: 'projects/js/gmaps', formats: [:js] %>
  <%= render partial: 'projects/js/show_tabs', formats: [:js] %>
</script>