<div class="row">
  <section class="col-md-8">
    <%= render partial: 'projects/partials/show_tabs' %>

    <section class='main'>
      <%= render partial: 'projects/partials/owner_buttons', locals: {project: @project, user: @user} %>

      <%= render partial: 'projects/partials/basic_info', locals: {project: @project} %>

      <%= render partial: 'projects/partials/extra_info', locals: {project: @project, video: @video} %>
    </section>

    <section class="blog">
      <%= render partial: 'projects/partials/blog', locals: {project: @project} %>
    </section> 

    <section class="investors">
      <%= render partial: 'projects/partials/investors', locals: {project: @project} %>
    </section>
    
  </section>

  <section class="sidebar well col-md-4">
    <section class="side-info">
      <%= render partial: 'projects/partials/timer', locals: {project: @project} %>
      <div class="money-info">
        <%= render partial: 'projects/partials/goal_remaining', locals: {project: @project} %>
      </div>
    </section>
    <div class="progress-wrap">
      <%= render partial: 'projects/partials/progress_bar', locals: {project: @project} %>
    </div>
    <% if user_signed_in? %>
      <%= render partial: 'projects/partials/donations', locals: {project: @project} %>
      <br>
    <% else %>
      <p>Please sign to donate</p>
    <% end %>
    <%= render partial: 'projects/partials/map' %>
  </section>
</div>
<script>
  <%= render partial: 'projects/js/timer', formats: [:js], locals: {project: @project} %>
  <%= render partial: 'projects/js/gmaps', formats: [:js] %>
  <%= render partial: 'projects/js/show_tabs', formats: [:js] %>
  <%= render partial: 'projects/js/followers', formats: [:js] %>
</script>